<h3 matSubheader>Select a marker type and double click the map!</h3>
<mat-selection-list [(ngModel)]="selectedMapMarkerTypes" [multiple]="false">
  <mat-list-option [value]="markerType" *ngFor="let markerType of mapMarkerTypes">
    <img matListAvatar [src]="getImageSrc(markerType)" class="no-select">
    <span class="no-select">{{markerType}}</span>
  </mat-list-option>
</mat-selection-list>
<h3 matSubheader>Reset all Map Markers to default.</h3>
<div class="editor__reset-container">
  <div>
    <button #resetButton mat-raised-button disabled color="warn" (click)="mapMarkerStorage.resetAll()">Reset</button>
  </div>
  <div>
    <mat-label ngClass="editor__reset-slide-label">can't be undone!</mat-label>
    <mat-slide-toggle (change)="resetButton.disabled = !$event.checked" color="warn"></mat-slide-toggle>
  </div>
</div>
<h3 matSubheader>Remove all Map Markers.</h3>
<div class="editor__reset-container">
  <div>
    <button #clearButton mat-raised-button disabled color="warn" (click)="mapMarkerStorage.removeCustomMarkers()">Clear</button>
  </div>
  <div>
    <mat-label ngClass="editor__reset-slide-label">can't be undone!</mat-label>
    <mat-slide-toggle (change)="clearButton.disabled = !$event.checked" color="warn"></mat-slide-toggle>
  </div>
</div>

