 .map__burger-bar-container {
  height: 64px;
  width: 100%;

  .flex-spacer {
    flex: 1 1 auto;
  }
}
.map__content-wrapper {
  width: 100%;
  height: auto;
}
.map__container {
  position: absolute;
  left: 0;
  top: 64px;
  right: 0;
  bottom: 0;
  background-color: black;
}

.map__wrappper {
  width: 100%;
  height: 100%;
  background-color: black;
}
.map__overlay {
  background: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}

.map__signature {
  position: absolute;
  font-size: 14pt;
  bottom: 16px;
  right: 16px;
  text-align: center;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
